

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
 .flexible-container{
     display: flex;
     margin: 120px; 
 }
 .half-width{
     width: 50%;
     padding-left: 5%;
 }
 .half-width img{
    width: 100%;
 }
 .link-button{
     text-decoration: none;
     background-color: orangered;
     border-radius: 5px;
     font-size: 20px;
     padding: 10px 30px;
     color: white;
     font-weight: 700;
    
 }
 .top-banner{
     background-image: url(images/top-banner.png);
     background-repeat: no-repeat;
 }
  .dream-big{
     background-image: url(images/dream-bg.png);
     background-repeat: no-repeat;
     background-position: right;
 } 
 .experiance-area{
     background-image: url(images/exp-bg.png);
     background-repeat: no-repeat;
     background-position: left;
     }
 
 .experiance-Item{
    width: 50%  ;
    padding-left: 5%;
    margin-left: 0;
    margin-right: 5%;
    box-shadow: 10px 10px 30px rgb(31, 32, 27);
    border-radius: 5%;
 }
 #full-dev-exp{
     border-left: 5px solid;
     border-image: linear-gradient(blue, cyan);
     border-image-slice: 1;

 }
 #web-dev-expe{
    border-left: 5px solid;
    border-image: linear-gradient(orange, cyan);
    border-image-slice: 1;


 }
 footer p{
     text-align: center;
 }